<!-- hello.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹페이지</title>
</head>
<body>
    <h1>Hello World!!</h1>
    <form action="/hello" method="post">
        <div>
          <label for="say">이름을 입력하세요.</label>
          <input name="name" id="say" placeholder="이름" />
        </div>
        <div>
          <label for="to">인사할 내용을 적어주세요.</label>
          <input name="hello" id="to"  placeholder="인사할 내용" />
        </div>
        <div>
          <button>제출</button>
        </div>
      </form>
</body>
</html>