<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list page</title>
    <style>
table{
    text-align: center;
}

table tr, td, th{
    border: 1px solid black;
}

    </style>
</head>
<body>
    <table>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        <th>Time</th>
        {% for i in data %}
    <tr>
            <td> {{ i['id'] }} </td>
            <td>  {{ i['title'] }} </td>
            <td>  {{ i['desc'] }} </td>
            <td>  {{ i['author'] }} </td>
            <td> {{ i['create_at'] }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>